button {
    background-color: #fff;
    color: #581c8c;
    font-weight: bold;
    font-size: 24px;
    border-radius: 15px;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;

} button:hover {
    transition: .4s;
    background-color: #581c8c;
    color: #fff;

}